body {
    font-family: 'ralewaymedium';

}

header {
    background-color: black;
    color: white;
    height: 40px;
}

.greenOnes {
    color: rgb(36, 186, 160);
}

.h__menuLogo {
    float: left;
    font-family: 'ralewaysemibold';
    font-size: .9em;
    margin: 15px 0;
}

.menu {

}

.boldOnes {
    font-family: 'ralewayblack';
}

a.contact, a.galery, a.about {
    text-decoration: none;
}

.mainDIV {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    padding: 0 65px;
    border: 1px solid yellow;
    overflow: auto;
}

li {
    float: right;
    color: white;
    font-family: 'ralewaybold';
    letter-spacing: 0.1em;
    font-size: 15px;
    list-style: none;
    margin: 15px 20px;
    border: 1px solid rgba(1, 1, 1, 0);
    border-radius: 5px;
    /*padding: 0 15px;*/
}
ul a:first-child li {
    margin-right: 0;
}

.sec__carousel {
    height: 500px;

    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(204, 204, 212, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ccccd4', GradientType=0);
}

.sec__carousel .mainDIV {

    height: 500px;
}

.arrow {
    box-sizing: border-box;
    float: left;
    border: 1px solid blue;
    font-family: 'ralewaylight';
    height: 400px;
    font-size: 5em;
    /*vertical-align: middle;*/
    margin: 0;
    padding: 206px 0 0 0;
}

/*.arrow p {*/

/*}*/

/*.arrow:first-child {*/

/*float: left;*/
/*}*/

.arrow:nth-child(4) {
float: right;
}

.picture_carousel {
    position: relative;
    float: left;
    overflow: hidden;
    height: 495px;
    width: 400px;
}

.picture_carousel img {
    position: absolute;
    left: -80px;
    top: 70px;
    /*width: 120%;*/
    height: 87%;
}

.carousel__article {
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 47%;
    border: 1px solid blue;
    text-align: center;
    font-size: 1.8em;
    padding-top: 150px;
    }

.carousel__article p {
    font-size: 0.5em;
    line-height: 1.4em;
    margin: 30px;
}

h2 {
    font-family: 'ralewaymedium';
    /*text-align: center;*/
    font-size: 1.4em;

}

h2 span {
    font-family: 'ralewaysemibold';

}

.but_seeMore {
    margin: 10px auto;
    width: 250px;
    height: 37px;
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    padding-top: 10px;
}



.greenBlocks {
    background-color: rgb(36, 186, 160);
}

.sec__whiteArticle {
    height: 350px;
    background-color: white;
}

.picArticle {
display: inline-block;
    height: 290px;
    width: 30%;
    margin: 20px 20px 20px 0;
}

.clearfix {
    clear: both;
}

.picArticle > div {
    position: relative;
}
.picArticle img {

}

.picArt__description {
    position: absolute;
    bottom: 10px;
    height: 70px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 103%;
    }

.description_into {
    width: 180px;
    border-bottom: 5px solid rgb(36, 186, 160);

}

.mainCEN {
    width: 230px;
    height: 270px;
    box-sizing: border-box;
    position: relative;
    margin: 50px 10px 0px 10px;
    font-family: "Calibi", Arial, sans-serif;
    text-align: center;

    /*zad. 9 wystarczy:*/
    display: inline-block;
}

.borderBlack {
    border: 4px solid black;
    padding: 1em .5em;
    height: 210px;
    position: absolute;
}

.circleDot{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 12px solid white;
    background-color: black;
    box-shadow: 0 0 0 4px black;
    /*obrazek jest pod divem z textem
    wiec bedzie musiał sie cofnac w góre:*/
    position: absolute;
    top: -25px;
    left: 90px;
    z-index: 2;
}

.button1 {
    background-color: black;
    color: white;
    position: absolute;
    left: 45px;
    bottom: 10px;
    width: 130px;
    height: 35px;
    border: none;
    text-align: center;
}

h3 {
    font-weight: 300;
    margin-top: 2em;
}

p {
    font-size: 0.7em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.bordGrey1  {
    border: 1px solid rgba(0, 0, 0, 0.5);
}