
body {
    font-family: 'ralewaymedium';
}

header {
    background-color: black;
    color: white;
    height: 40px;
}


.greenOnes {
    color: rgb(36, 186, 160);
}

.h__menuLogo {
    float: left;
    font-family: 'ralewaysemibold';
    font-size: .9em;
    margin: 15px 0;
}

sup {
    font-size: .4em;
    vertical-align: text-top;
}

.boldOnes {
    font-family: 'ralewayextrabold';
}

a.contact, a.galery, a.about {
    text-decoration: none;
}

.mainDiv {
    box-sizing: padding-box;
    margin: 0 auto;
    width: 1060px;
    overflow: auto;
}

li {
    float: right;
    color: white;
    font-family: 'ralewaybold';
    letter-spacing: 0.1em;
    font-size: .9em;
    list-style: none;
    margin: 15px 20px;
    border: 1px solid rgba(1, 1, 1, 0);
    border-radius: 5px;
}

ul a:first-child li {
    margin-right: 0;
}

.sec__carousel {
    height: 500px;

    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(204, 204, 212, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 204, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ccccd4', GradientType=0);
}

.sec__carousel .mainDiv {
    height: 500px;
}

.arrow {
    box-sizing: border-box;
    float: left;
    font-family: 'ralewaylight';
    height: 400px;
    font-size: 5em;
    margin: 0;
    padding: 206px 0 0 0;
}

.arrow:nth-child(4) {
float: right;
}

.picture_carousel {
    position: relative;
    float: left;
    overflow: hidden;
    height: 495px;
    width: 417px;
}

.picture_carousel img {
    position: absolute;
    left: -80px;
    top: 70px;
    height: 87%;
}

.carousel__article {
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 47%;
    text-align: center;
    font-size: 1.8em;
    padding-top: 150px;
}

.carousel__article p {
    font-size: 0.5em;
    line-height: 1.4em;
    margin: 30px;
}

h2 {
    font-family: 'ralewaymedium';
    font-size: 1.4em;
}

h2 span {
    font-family: 'ralewaysemibold';
}

.but_seeMore {
    margin: 10px auto;
    width: 250px;
    height: 37px;
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    padding-top: 10px;
}

.greenBlocks {
    background-color: rgb(36, 186, 160);
}

/*SEKCJA BIAŁA Z ARTYKUŁEM*/

#secWhiteArticle {
    height: 350px;
    background-color: white;
}

#secWhiteArticle .mainDiv{
    height: 700px;
}


.picArticle {
    display: inline-block;
    height: 251px;
    width: 31%;
    box-sizing: border-box;
    margin: 22px 24px 23px 0;
    vertical-align: middle;
}

.clearfix {
    clear: both;
}

.picArticle > div {
    position: relative;
}

.picArticle img {
width: 100%;
}

.picArt__description {
    position: absolute;
    bottom: 10px;
    height: 62px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
}

/*chowanie opisu obrazka zrobione w css i jako opcja w app.js*/
/*.picArticle > div:hover .picArt__description {*/
/*display: none;*/
/*}*/



.description_into {
    width: 180px;
    border-bottom: 8px solid rgb(36, 186, 160);
    margin-left: 15px;
    margin-top: 16px;
    padding-bottom: 4px;
}

.picArticle:nth-child(3) {

    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 0;
}

.picArticle:nth-child(3) .picArt__description {
    position: absolute;
    top: 10px;
}



p {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.4em;
}

.article_text {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    position: relative;
    top: 40px;
}

.invisible {
    display: none;
}


/*   SEKJA C E N N I K*/
.sec__cennik {
    background-color: rgb(241, 241, 241);
    height: 745px;
}


.sec__cennik .mainDiv{
    height: 700px;
}

.mainCen {
    width: 31%;
    height: 505px;
    box-sizing: border-box;
    position: relative;
    margin: 50px 28px 20px 0;
    font-family: "Calibi", Arial, sans-serif;
    text-align: center;
    display: inline-block;
}

.mainCen:nth-child(5) {
    margin-right: 0;
}

.borderPrices {
    border: 2px solid rgb(214, 214, 214);
    padding: 2.5em 0;
    height: 442px;
    position: absolute;
    background-color: rgb(249, 249, 249);
    oveflow: auto;
}

.mainCen:hover .borderPrices {
    border: 2px solid rgb(36, 186, 160);
    background-color: rgb(36, 186, 160);
}


.circleDot{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 14px solid white;
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    position: absolute;
    top: -32px;
    left: 136px;
    z-index: 2;
}

.mainCen:hover .circleDot {
    border: 14px solid rgb(36, 186, 160);
    background-color: white;
    box-shadow: 0 0 0 2px rgb(36, 186, 160);
}


.button1 {
    color: white;
    position: absolute;
    left: 95px;
    bottom: 20px;
    width: 120px;
    height: 33px;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 0.95em;
}

.mainCen:hover .button1 {
    color: rgb(36, 186, 160);
    background-color: white;
}

.borderPrices h2 {
    font-size: 26px;
}

.round_price {
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(214, 214, 214);
    width: 130px;
    height: 130px;
    margin: 26px 40px 40px 94px;
    color: rgb(194, 194, 194);
}

.mainCen:hover .round_price {
    border: 2px solid rgb(36, 186, 160);
    color: rgb(36, 186, 160);
}

.round_price h3 {
    text-align: center;
    font-family: 'ralewaybold';
    font-size: .9em;
    margin-top: 9px;
}

h1 {
    font-family: 'ralewaybold';
    font-size: 2.7em;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
}

.mainCen:hover h2 {
    color: white;
}


.services li {
    font-family: 'ralewaymedium';
    font-size: 1.5em;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: rgb(165, 165, 165);
    margin: 0;
    padding: 9px;
    border-radius: 0;
}

.services ul li:first-of-type {
    border-top: 2px solid white;
}

.services ul li:nth-of-type(odd) {
    background-color: rgb(228, 228, 228);
}

.services ul li:nth-of-type(even) {
    background-color: rgb(241, 241, 241);
}

.mainCen:hover .services ul li:nth-of-type(odd) {
    background-color: white;
}

.mainCen:hover .services ul li:nth-of-type(even) {
    background-color: rgb(241, 241, 241);
}


.sec__title {
    float: left;
    width: 320px;
    border-bottom: 8px solid rgb(36, 186, 160);
    margin: 40px 0 30px 0;
    font-size: 1.4em;
    padding-bottom: 7px;
    color: rgb(126, 126, 126);
}

/*SEKCJA FORMULARZ KONTAKTOWY */
.secKontakt {
    height: 510px;
    background-color: white;
}


.secKontakt .mainDiv {
    height: 600px;
}


.secKontakt .mainDiv > div:nth-child(1) {
    float: left;

}


.secKontakt .mainDiv > div:nth-child(2) {
    width: 370px;
    float: right;

}

.formholder {
    width: 60%;
    float: left;
}

.secKontakt form input, .secKontakt form .formholder textarea {
    box-sizing: border-box;
    font-family: 'ralewaythin';
    font-size: 2em;
    margin: 13px 0;
    width: 100%;
    color: rgb(203, 203, 203);
    border: 1px solid rgb(36, 186, 160);
    margin-left: 6px;
}


.secKontakt input {
    vertical-align: middle;
    color: rgb(203, 203, 203);
    padding: 13px 0 13px 10px;
}

.secKontakt textarea {
    height: 190px;
    padding-left: 13px;
    padding-top: 13px;
}
/*CZĘŚC FORMULARZA Z KRZESŁEM I ZGODĄ*/

.redChair_holder {
    width: 30%;
    float: right;
}
.redChair_holder img {
    position: relative;
    top: -33px;
    right: 64px;
}

#agreement {
    float: right;
    color: rgb(203, 203, 203);
    font-size: 1.3em;
    font-family: 'ralewaylight';
    /*position: relative;*/
    width: 35%;
    margin: 20px 0;
}

#agreement div:first-child {
    border: 1px solid rgb(36, 186, 160);
    height: 45px;
    width: 45px;
    float: left;
    background-color: white;
}
#agreement div:first-child input {
    height: 45px;
    width: 45px;
    margin: 0;
    position: relative;
    z-index: -1;
}

.checkBoxBird {
background: url("images/form_ok.jpg") left -2px top 3px no-repeat;
    /*background-image: url("images/form_ok.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: left -2px top 3px;*/
}


#agreement div:nth-child(2) {
    position: relative;
    left: 20px;
    top: 2px;
}


.but_seeMore1 {
    margin: 10px auto;
    font-size: 0.8em;
}


.buttonBigSend {
    float: right;
    width: 30%;
    height: 75px;
    font-family: 'ralewaybold' !important;;
    color: white !important;
    border: 0;
    padding: 16px 0;
    border-radius: 7px;
    margin-top: 35px;
}

/*SEKCJA STOPKA*/

.sec__footer {
    height: 150px;
    background-color: white;
    color: rgb(203, 203, 203);
    padding-top: 65px;
}

.sec__footer .mainDiv div:first-child {
float: left;
}

.sec__footer p {
    font-size: 0.9em;
    font-family: 'ralewaymedium';
    vertical-align: middle;
}

.foot__menuLogo {
    font-family: 'ralewaysemibold';
    font-size: 1.25em;
    letter-spacing: 0.1em;
    margin: 15px 0 0 80px;
    color: rgb(155, 155, 155);
}

.foo_pics, .foot__menuLogo {
    float: right;
}

.foo_pics {
margin-right: 5px;
}